<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>会議室登録画面</title>
</head>
<body>
	<h2>会議室画面</h2>
	<form action="./list.html" th:action="@{/meetingroom/insertComplete}" th:object="${meetingRoomForm}" method="POST">
		<div>会議室名を入力してください : </div>
		<div>
			<input type="text" name="roomName" th:field="*{roomName}" /><br />
			<span th:if="${#fields.hasErrors('roomName')}" th:errors="*{roomName}">textのエラーメッセージ</span>
			<button type="submit">登録</button>
		</div>
		</form>
			<p><a th:href="@{/meetingroom/list}" href="/app/view/meetingroom/list.html">会議室一覧へ戻る</a></p>
		
</body>
</html>